In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_ords_prior = pd.read_csv(r'C:\Users\kenta\Instacart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [3]:
df_ords = pd.read_csv(r'C:\Users\kenta\Instacart Basket Analysis\02 Data\Prepared Data\orders_cleansed.csv', index_col = False)

In [4]:
# If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

In [5]:
df_merged_large

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,11.11,196,1,0,both
1,0,2539329,1,prior,1,2,8,11.11,14084,2,0,both
2,0,2539329,1,prior,1,2,8,11.11,12427,3,0,both
3,0,2539329,1,prior,1,2,8,11.11,26088,4,0,both
4,0,2539329,1,prior,1,2,8,11.11,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.00,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.00,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.00,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.00,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.00,22920,9,0,both

In [6]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [6]:
# 2. Export the merged file in pickle format as “orders_products_combined.pkl”.
df_merged_large.to_pickle(r'C:\Users\kenta\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [8]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [10]:
df_ords_prior.duplicated().sum()

0